extends layout

block append head
  link(rel="stylesheet" href="style/index.css")
  script(src="js/index.js")

block content
  div(class="w3-center w3-animate-opacity")
    h1(class="w3-lobster w3-jumbo") Hello,
    h1(class="w3-lato w3-xxlarge") this site displays data from arduino
  div(class="w3-row-padding")
    div(class="w3-third w3-center")
      div(class="w3-card-4 w3-animate-opacity w3-round-small my-center-vertical-index")
        div(class="w3-container w3-blue w3-center w3-wide w3-large w3-padding-small shadow-text")
          p touches
          i(class="material-icons") touch_app
        div(class="w3-container w3-sand w3-large w3-text-brown")
          p(id="p-touches")=touches
    div(class="w3-third w3-center")
      div(class="w3-card-4 w3-animate-opacity w3-round-small my-center-vertical-index")
        div(class="w3-container w3-teal w3-center w3-wide w3-large w3-padding-small shadow-text")
          p vibrations
          i(class="material-icons") vibration
        div(class="w3-container w3-sand w3-large w3-text-brown")
          p(id="p-vibrs")=vibrs
    div(class="w3-third w3-center")
      div(class="w3-card-4 w3-animate-opacity w3-round-small my-center-vertical-index")
        div(class="w3-container w3-blue-gray w3-center w3-wide w3-large w3-padding-small shadow-text")
          p total
          i(class="material-icons") touch_app
          i(class="material-icons") vibration
        div(class="w3-container w3-sand w3-large w3-text-brown")
          p(id="p-total")=total