body {
    background: linear-gradient(80deg, #EECFBA, #C5DDE8);;
}

.my-center-vertical-index {
    margin-top: 25%;
    margin-bottom: 25%;
}

h1 {
    margin-top: 1%;
}

#arduino-connected_display {
    display: none;
}